*{
margin: 0;
padding: 0;
}

header{
        padding: 40px;
        background-color: lightcoral;       
            margin-bottom: 20px;
        }
nav{
            background-color: lightcoral;
        }
main{
            background-color: lightgreen;
        }